<h1>New User</h1>
<%= render partial: 'form', locals: {
                                      path: "/users",
                                      method: :post,
                                      button_text: 'Create User'} %>

