<h1>New Shift</h1>
<%= render partial: 'form', locals: {
                                      path: "/shifts",
                                      method: :post,
                                      button_text: 'Create Shift'} %>
